h1 { 
    color: rgb(20, 62, 20)
 }

 .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.logo img {
    height: 40px;
}

.main-nav ul {
    display: flex;
    gap: 20px;
}

.header-bottom {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
}

.category-nav ul {
    display: flex;
    gap: 25px;
}

.category-nav a {
    font-weight: bold;
    color: #555;
}

.category-nav a:hover {
    color: #0066cc;
}

